<div id="footer-flex">
    
    <p id="footer-copyright">© <%- new Date().getFullYear(); %> Freie Dorfschule Lübeck</p>
    <ul id="footer-navbar">
        <li><a href="/impressum">Impressum</a></li>
        <li><a href="/kontakt">Kontakt</a></li>
        <li><a href="/datenschutz">Datenschutz</a></li>
    </ul>
</div>