<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0">
<!-- this has to be adjusted to the equivelant site :3 -->
<title>
    <% if (page_title) { %>
        <%= page_title %> - Freie Dorfschule Lübeck
    <% } else { %>
        Freie Dorfschule Lübeck
    <% } %>
</title>
<meta name="web_author" content="Felix Johannes Caldeira Cabral">
<meta name="designer" content="Felix Johannes Caldeira Cabral">
<meta name="description" content="Freie Dorfschule Lübeck - Achtsam miteinander lernen, verantwortlich handeln.">
<meta name="robots" content="index, follow">
<meta name="google" content="notranslate">
<meta name="pinterest" content="nopin"/>

<!-- important need to update this -->
<link rel="apple-touch-icon" sizes="180x180" href="/public/img/favicon/apple-touch-icon-180x180.png">
<link rel="apple-touch-icon" sizes="152x152" href="/public/img/favicon/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="144x144" href="/public/img/favicon/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="120x120" href="/public/img/favicon/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="114x114" href="/public/img/favicon/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="76x76" href="/public/img/favicon/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="72x72" href="/public/img/favicon/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="60x60" href="/public/img/favicon/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="57x57" href="/public/img/favicon/apple-touch-icon-57x57.png">
<link rel="manifest" href="/public/img/favicon/site.webmanifest">
<link rel="mask-icon" href="/public/img/favicon/safari-pinned-tab.svg" color="#4491EA">
<meta name="msapplication-TileColor" content="#4491EA">
<meta name="msapplication-config" content="/public/img/favicon/browserconfig.xml">
<meta name="theme-color" content="#4491EA">

<meta name="twitter:card" content="summary"/>
<meta name="twitter:image" content="/public/img/favicon/apple-touch-icon-180x180.png">
<meta property="og:url" content="<%= services.nashi.domain %>"/>
<meta property="og:title" content="<%= services.nashi.displayname %>" />
<meta property="og:description" content="Achtsam miteinander lernen, verantwortlich handeln." />
<meta property="og:image" content="/public/img/favicon/apple-touch-icon-180x180.png"/>
<meta itemprop="thumbnailUrl" content="/public/img/favicon/apple-touch-icon-180x180.png" name="thumbnail">

<link rel="stylesheet" href="/public/css/croppie.css" />
<script src="/public/js/croppie.min.js"></script>