<style>
    main {
        display:flex;
        justify-content: center; 
        align-items: center;
    }
    #error {
        display: flex;
        justify-content: center; 
        align-items: center;
        flex-direction: column;
        padding: 3rem 4rem;
        text-align: center;
    }
    #error img {
        height: 14rem;
        width: auto;
    }
    #error h2 {
        font-size: 2rem;
    }
    #error h2 {
        margin: 0;
        -ms-word-break: normal;
        word-break: normal;
        word-wrap: break-word;
    }
</style>

<div id="error">
    <img src="/public/img/body/header/sadbee.svg" alt="sad bee">
    <h2><%=error.code%> <%=error.message%></h2>
</div>