<style>
    main {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .outer-segment {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    @media(max-width: 999px) {
        .segment {
            width: 20rem;
        }
    }
    @media(min-width: 1000px) {
        .segment {
            width: 30rem;
        }
    }
    .segment {
        text-align: right;
    }
    .field {
        margin: 3rem 0rem;
        font-size: 1rem;
        color: var(--fdl-secondary);
    }
    .field input, .field label {
        display:block;
        padding: 0;
    }
    .field input {
        width: 100%;
        font-size: 1.2rem;
        padding: 1.3rem 1.3rem;
        display: inline-block;
        border: 0.2rem solid var(--fdl-secondary);
        border-radius: 0.2rem;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
        box-sizing: border-box;         /* Opera/IE 8+ */
    }
    .field input:focus {
        outline: none !important;
        border: 0.2rem solid var(--primary-color);
        border-radius: 0.2rem;
        -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: border-box;    /* Firefox, other Gecko */
        box-sizing: border-box;         /* Opera/IE 8+ */
    }
    button {
        background-color: var(--primary-color);
        color: var(--button-color);
        font-size: 1.2rem;
        padding: 1rem;
        border: none;
        border-radius: 0.2rem;
        cursor: pointer;
        width: 10rem;
    }

    button:hover,
    button:focus {
        opacity: 0.8;
    }
    #login-title {
        font-size: 3rem;
        color: var(--fdl-secondary);
        text-align: center;
        margin-top: 0;
        margin-bottom: -1rem;
    }
</style>
<div class="outer-segment">
    <div class="segment">
        <h1 id="login-title">Anmelden</h1>
        <form id="login-form" method="post" action="/konto/login?redir=<%- redir %> ">
            <div class="field">
                <input tabindex="1" type="email" name="email" placeholder="Email" value="" maxlength="254" required="required">
            </div>
            <div class="field">
                <input tabindex="2" type="password" name="password" placeholder="Passwort" value="" maxlength="32" required="required">
            </div>
            <input type="hidden" name="redir" value="<%- redir %>">
        </form>
        <button tabindex="3" type="submit" form="login-form">Anmelden</button>
    </div>
</div>
